.container-fluid {
  color: var(--clr4);
}
.members {
  place-content: center;
}
h5,
p {
  text-align: center;
  color: var(--clr4);
  font-weight: var(--fw-medium);
}

h5 {
  font-weight: lighter;
  font-size: 0.9rem;
}

p {
  font-weight: var(--fw-bold);
}
