.form-container {
  min-height: 50vh;
  place-content: center;
  background-color: var(--clr4);
  
}
.form {
  grid-template-columns: 20% 1fr;
  gap: 2rem;
  text-align: center;
}
label {
  color: var(--clr1);
}

.button {
  grid-column: 1 / -1;
  justify-self: center;
  cursor: pointer;
}
