<section class="about-section d-flex" id="about-us">
    <article class="about-content d-grid">
        <header class="title-container txt-italic">
            <h2>About <span class="txt-yellow txt-bold">Us</span></h2>
        </header>
        <div class="about-description d-grid">
            <p>Welcome to our website! We are a team of passionate individuals who are dedicated to advocating for the
                conservation and
                protection of our planet's natural resources.
            </p>
            <p>
                Our mission is to raise awareness about the urgent need to take action to protect our environment and to
                empower
                individuals and communities to make a difference. We believe that everyone has a role to play in saving
                our
                planet, and
                we are committed to helping people understand how they can take action in their own lives to make a
                positive
                impact.
            </p>
            <h3 class="txt-yellow">Our Vision</h3>
            <p>We envision a world where people live in harmony with nature and where our natural resources are
                protected
                and
                preserved
                for future generations. We believe that it is possible to create a sustainable future, but it will
                require
                action and
                commitment from all of us.</p>

            <h3 class="txt-yellow">Our Work</h3>
            <p>At our organization, we work to promote nature conservation and environmental protection through a
                variety of
                initiatives, including:</p>

            <p>Advocacy and policy development to protect natural resources and habitats
                Education and outreach to raise awareness about the importance of conservation and sustainability
                Collaborative partnerships with like-minded organizations and individuals to drive positive change
                Research and analysis to inform decision-making and policy development
                Get Involved
                We believe that everyone has a role to play in protecting our planet. If you share our passion for
                nature
                conservation
                and want to get involved, there are many ways you can help:</p>

            <p>Spread the word: Share our website and social media channels with your friends and family to help raise
                awareness about
                our cause.
                Take action: Make changes in your own life to reduce your environmental impact, such as reducing your
                energy
                use, using
                public transportation or biking instead of driving, and reducing your consumption of single-use
                plastics.
                Volunteer: Join our team of volunteers and help us with our initiatives and campaigns.
                Donate: Your financial support helps us continue our work to protect our planet.
                Thank you for visiting our website, and we hope you will join us in our mission to protect and preserve
                our
                planet's
                natural resources for generations to come.</p>
        </div>
    </article>


    <div class="about-us__img ">
        <img src="../assets/images/image.png" alt="">
        <img src="../assets/images/plant.jpg" alt="">
    </div>

</section>