.about-section {
  background-color: var(--clr3);
  justify-content: space-between;
  text-align: center;
}

.title-container {
  font-size: 3rem;
}
.title-container h2 {
  font-size: 2.5rem;
}
.about-content {
  margin-inline: auto;
  place-content: center;
}
.about-description {
  gap: .5rem;
}
.about-description p {
  max-width: 50ch;
  font-size: 1.2rem;
}
.about-us__img {
  max-width: 40%;
}
.about-us__img img {
  display: block;
  max-width: 100%;
  max-height: 50%;
  object-fit: cover;
  aspect-ratio: 3 / 3;
  object-position: center;
}
