<article class="orgs-container d-grid" id="organizations">
    <header>
        <h2>JOIN US</h2>
    </header>
    <section class="d-grid">
        <section class="org d-grid" *ngFor="let org of orgs">
            <img [src]="org.orgImgPath" alt="">
            <div class="org__description d-grid">
                <h5 class="txt-yellow">{{org.orgName}}</h5>
                <p>{{org.orgDescription}}</p>
            </div>
        </section>
    </section>
    <button class="button" (click)="goToRoute('organization-list')">JOIN</button>
</article>