<section class="acts">
    <h2 class="acts__title txt-yellow txt-center">SIMPLE ACTS TO SAVE NATURE
    </h2>
    <article class="act d-grid">
        <div class="act__img-container end">
            <img class="act__img" src="../../assets/images/act1.jpg" alt="">

        </div>
        <div class="act__description default">
            <p>Reduce your energy consumption: You can save energy by turning off lights and appliances when you're not
                using them,
                using energy-efficient light bulbs, and unplugging electronics when they're not in use.</p>
        </div>
    </article>

    <article class="act d-grid">
        <div class="act__description reverse">
            <p>Reduce, reuse, and recycle: You can reduce waste by using reusable bags, water bottles, and containers,
                and by recycling
                paper, plastic, and other materials.</p>
        </div>
        <div class="act__img-container start">
            <img class="act__img" src="../../assets/images/act2.jpg" alt="">

        </div>
    </article>
    <article class="act d-grid">
        <div class="act__img-container end">
            <img class="act__img" src="../../assets/images/act3.jpg" alt="">

        </div>
        <div class="act__description default">
            <p>Plant trees and native plants: You can help restore natural habitats by planting trees and native plants
                in your
                community or backyard.</p>
        </div>
    </article>

    <article class="act d-grid">
        <div class="act__description reverse">
            <p>Use environmentally-friendly products: You can reduce your impact on the environment by using
                environmentally-friendly
                cleaning products, personal care products, and other household items.</p>
        </div>
        <div class="act__img-container start">
            <img class="act__img" src="../../assets/images/act4.jpg" alt="">

        </div>
    </article>
    <article class="act d-grid">
        <div class="act__img-container end">
            <img class="act__img" src="../../assets/images/act5.jpg" alt="">

        </div>
        <div class="act__description default">
            <p>Support sustainable businesses: You can support businesses that are committed to sustainability by
                choosing products and
                services that are environmentally-friendly and ethically sourced.</p>
        </div>
    </article>
</section>