<div class="container d-grid" id="donors">
    <h5 class="">Donors</h5>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let donor of donors">
                    <td>{{donor.user_name}}</td>
                    <td>{{donor.user_email}}</td>
                    <td>{{donor.donation_amount}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>